django-jazzmin==3.0.0
asgiref==3.10.0
certifi==2025.10.5
charset-normalizer==3.4.4
crispy-bootstrap5==2025.6
cryptography==46.0.3
Django==5.2.8
django-crispy-forms==2.5
django-extensions==4.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
et_xmlfile==2.0.0
idna==3.11
openpyxl==3.1.5
packaging==25.0
pathspec==0.12.1
pdfkit==1.0.0
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
pypdf==6.2.0
python-decouple==3.8
python-dotenv==1.2.1
PyYAML==6.0.3
regex==2025.11.3
reportlab==4.4.4
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
weasyprint==62.3
